version: "3.8"

services:
  postgres:
    image: postgres:17
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - pg_data:/var/lib/postgresql/data
    command:
      - "postgres"
      - "-c"
      - "shared_preload_libraries=pg_stat_statements"
      - "-c"
      - "max_connections=${PG_MAX_CONNECTIONS}"
      - "-c"
      - "shared_buffers=${PG_SHARED_BUFFERS}"
      - "-c"
      - "effective_cache_size=${PG_EFFECTIVE_CACHE_SIZE}"
      - "-c"
      - "work_mem=${PG_WORK_MEM}"
      - "-c"
      - "maintenance_work_mem=${PG_MAINTENANCE_WORK_MEM}"
      - "-c"
      - "log_min_duration_statement=${PG_LOG_MIN_DURATION_STATEMENT}"
    networks:
      - db_net
    logging:
      driver: "json-file"
      options:
        max-size: "50m"
        max-file: "7"

  # TODO: Uncomment to mount and use pgbouncer.ini and userlist.txt for configuration
  # pgbouncer:
  #   image: edoburu/pgbouncer:v1.24.1-p1
  #   # container_name: pgbouncer
  #   restart: unless-stopped
  #   depends_on:
  #     - postgres
  #   volumes:
  #     - ./pgbouncer/pgbouncer.ini:/etc/pgbouncer/pgbouncer.ini:ro
  #     - ./pgbouncer/userlist.txt:/etc/pgbouncer/userlist.txt:ro
  #   ports:
  #     - "${PGBOUNCER_LISTEN_PORT}:6432"
  #   networks:
  #     - db_net
  #   logging:
  #     driver: "json-file"
  #     options:
  #       max-size: "50m"
  #       max-file: "7"

  pgbouncer:
    image: edoburu/pgbouncer:v1.24.1-p1
    restart: unless-stopped
    depends_on:
      - postgres
    environment:
      DB_HOST: ${POSTGRES_HOST}
      DB_PORT: ${POSTGRES_PORT}
      DB_USER: ${POSTGRES_USER}
      DB_PASSWORD: ${POSTGRES_PASSWORD}
      DB_NAME: ${POSTGRES_DB}

      LISTEN_PORT: ${PGBOUNCER_LISTEN_PORT}

      POOL_MODE: ${PGBOUNCER_POOL_MODE}

      MAX_CLIENT_CONN: ${PGBOUNCER_MAX_CLIENT_CONN:-500}
      DEFAULT_POOL_SIZE: ${PGBOUNCER_DEFAULT_POOL_SIZE:-50}
      MIN_POOL_SIZE: ${PGBOUNCER_MIN_POOL_SIZE:-5}
      RESERVE_POOL_SIZE: ${PGBOUNCER_RESERVE_POOL_SIZE:-5}

      AUTH_TYPE: ${PGBOUNCER_AUTH_TYPE}
      ADMIN_USERS: ${PGBOUNCER_ADMIN_USERS}

    ports:
      - "${PGBOUNCER_LISTEN_PORT}:${PGBOUNCER_LISTEN_PORT}"

    networks:
      - db_net

    logging:
      driver: "json-file"
      options:
        max-size: "50m"
        max-file: "7"

  postgres-exporter:
    image: quay.io/prometheuscommunity/postgres-exporter:v0.17.1
    restart: unless-stopped
    depends_on:
      - postgres
    environment:
      DATA_SOURCE_NAME: "postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}?sslmode=disable"
    networks:
      - db_net
    logging:
      driver: "json-file"
      options:
        max-size: "20m"
        max-file: "7"

  pgbouncer-exporter:
    image: prometheuscommunity/pgbouncer-exporter:v0.10.2
    restart: unless-stopped
    depends_on:
      - pgbouncer
    networks:
      - db_net
    ports:
      - "9127:9127"
    command:
      - "--web.listen-address=:9127"
      - "--pgBouncer.connectionString=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@pgbouncer:6432/pgbouncer?sslmode=disable"

  node-exporter:
    image: prom/node-exporter:v1.8.2
    restart: unless-stopped
    volumes:
      # TODO: for Ubuntu use this one
       - /:/host:ro,rslave
      # TODO: for MacOS use this one
#      - /:/host:ro
    command:
      - '--path.rootfs=/host'
    networks:
      - db_net
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "7"

  prometheus:
    image: prom/prometheus:v3.2.1
    restart: unless-stopped
    depends_on:
      - postgres-exporter
      - pgbouncer-exporter
      - node-exporter
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
      - prometheus_data:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--storage.tsdb.retention.time=${PROM_RETENTION_TIME}'
      - '--storage.tsdb.retention.size=${PROM_RETENTION_SIZE}'
      - '--web.enable-lifecycle'
    networks:
      - db_net
    logging:
      driver: "json-file"
      options:
        max-size: "50m"
        max-file: "7"

  grafana:
    image: grafana/grafana:11.2.0
    restart: unless-stopped
    depends_on:
      - prometheus
    environment:
      GF_SECURITY_ADMIN_USER: ${GRAFANA_ADMIN_USER}
      GF_SECURITY_ADMIN_PASSWORD: ${GRAFANA_ADMIN_PASSWORD}
      GF_USERS_ALLOW_SIGN_UP: "false"
    volumes:
      - grafana_data:/var/lib/grafana
      - ./grafana/provisioning:/etc/grafana/provisioning
    ports:
      - "3000:3000"
    networks:
      - db_net
    logging:
      driver: "json-file"
      options:
        max-size: "50m"
        max-file: "7"

  pghero:
    image: ankane/pghero:latest
    restart: unless-stopped
    environment:
      DATABASE_URL: "postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}"
      PGHERO_USERNAME: ${PGHERO_USERNAME}
      PGHERO_PASSWORD: ${PGHERO_PASSWORD}
    ports:
      - "8080:8080"
    networks:
      - db_net

networks:
  db_net:
    driver: bridge

volumes:
  pg_data:
  prometheus_data:
  grafana_data:
